@page "/"
@using LoginFrontEnd.Providers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@using System.Security.Claims
@inject CustomAuthStateProvider AuthStatProvider
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]


<h1>Hello, world!</h1>
<AuthorizeView>
    <Authorized>
        This content is displayed only if the user is Authorized, @context.User.FindFirst(ClaimTypes.Name)?.Value <button @onclick="LogoutAsync">logout</button>
    </Authorized>
    <NotAuthorized>
        This content is displayed if the user is Not Authorized. Please <NavLink href="/login">login</NavLink>.
    </NotAuthorized>
</AuthorizeView>
@code{
    private async Task LogoutAsync(){
        await AuthStatProvider.LogoutAsync();
        NavigationManager.NavigateTo("/", forceLoad: true);
        StateHasChanged(); // Adicione esta linha
    }
}
